<?js if (doc.classdesc) { ?>
    <section class="description"><?js= doc.classdesc ?></section>
<?js } else if (doc.description) { ?>
    <section class="description"><?js= doc.description ?></section>
<?js } ?>
