<?js if (doc.tutorials && doc.tutorials.length) { ?>
    <section>
        <h2><?js= doc.tutorials.length > 1 ? 'Tutorials' : 'Tutorial' ?></h2>
        <ul class="tutorials">
            <?js doc.tutorials.forEach(t => { ?>
                <li><a href="<?js= this.tutorialUrl(t) ?>"><?js= t ?></a></li>
            <?js }); ?>
        </ul>
    </section>
<?js } ?>
