<a class="section-title" href="<?js= doc.href ?>">
    <code><?js= this.partial('doc/signature.tmpl', { doc, compact: true }) ?></code>
</a>
<?js if (doc.classdesc) { ?>
    <div class="symbol-description"><?js= doc.classdesc ?></div>
<?js } else if (doc.description) { ?>
    <div class="symbol-description"><?js= doc.description ?></div>
<?js } ?>