<a class="symbol-summary-title" href="<?js= doc.href ?>">
    <?js if (this.showKindIcons) { ?>
        <span class="icon-kind kind-<?js= doc.kind ?>"><?js= this.kindIcon(doc.kind) ?></span>
    <?js } ?>
    <code><?js= this.partial('doc/signature.tmpl', { doc }) ?></code>
</a>

<?js= this.partial('doc/details.tmpl', { doc, depth: 2 }) ?>