<article class="doc">
    <header>
        <div class="kind kind-color kind-<?js= doc.kind ?>">
            <?js if (this.showKindIcons) { ?>
                <span class="icon-kind icon-kind-<?js= doc.kind ?>"><?js= this.kindIcon(doc.kind) ?></span>
            <?js } ?>
            <?js= this.kindLabel(doc.kind, false) ?>
        </div>
        <h1>
            <?js= this.partial('doc/signature.tmpl', {doc, constructor: false, augments: true }) ?>
        </h1>
    </header>

    <?js= this.partial('doc/details.tmpl', { doc, depth: 1 }) ?>
</article>
