<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="color-scheme" content="dark light">
        <title><?js= title ?></title>
        <link rel="stylesheet" href="/stylesheets/jsdoc-press.css" />
        <?js if (stylesheets && stylesheets.length) { stylesheets.forEach(href => { ?>
            <link rel="stylesheet" href="<?js= href ?>" />
        <?js }); } ?>
    </head>
    <body>
        <input type="checkbox" id="sm-nav-trigger" class="sm-nav-trigger" />
        <nav>
            <a class="brand" href="./index.html">
                <?js= env.conf.templates.logo ? `<img src="${env.conf.templates.logo}"/>` : 'Docs' ?>
            </a>
            
            <?js if (navGroups && navGroups.length) { navGroups.forEach(group => { ?>
                <div class="nav-group">
                    <div class="nav-kinds"><?js= this.kindLabel(group.kind, {plural: true, title: true}) ?></div>
                    <ul class="nav-tree">
                        <?js (group.items || []).forEach(item => { ?>
                            <?js= this.partial('navitem.tmpl', Object.assign({ activeHref: (typeof activeHref !== 'undefined' ? activeHref : null) }, item)) ?>
                        <?js }); ?>
                    </ul>
                </div>
            <?js }); } ?>
            
            <?js
                var footerOpt = true;
                if (this && this.conf && this.conf.templates && Object.prototype.hasOwnProperty.call(this.conf.templates, 'footer')) {
                    footerOpt = this.conf.templates.footer;
                }
                var footerHtml = null;
                if (typeof footerOpt === 'string') footerHtml = footerOpt;
                else if (footerOpt === true) footerHtml = 'Generated by JSDoc + jsdoc-template-boilerplate';
                // if false, keep null to hide
            ?>
            <?js if (typeof footerHtml === 'string') { ?>
                <div class='nav-fill'></div>
                <footer class="footer"><?js= footerHtml ?></footer>
            <?js } ?>
        </nav>
        <main class="content">
            <?js= content ?>
        </main>
        
        <div class="sm-nav">
            <a href="index.html"><?js= env.conf.templates.logo ? `<img src="${env.conf.templates.logo}" height="24px"/>` : 'Home' ?></a>
    
            <label for="sm-nav-trigger" class="sm-nav-toggle">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
            </label>
        </div>
        
        <script src="/javascripts/jsdoc-press.js"></script>
        <?js if (javascripts && javascripts.length) { javascripts.forEach(src => { ?>
            <script src="<?js= src ?>"></script>
        <?js }); } ?>
    </body>
</html>
