.code-block {
    border: 1px solid var(--code-border);
    border-radius: 0.35em;
    overflow: auto;
    background: var(--code-bg);
    color: var(--code-color);
    code {
       font-size: 0.8em;
       line-height: 1.6;
       display: block;
       background: none;
       color: inherit;
   }

   code:empty:before {
       content: '';
   }

   & > code {
       padding: 1em;
   }

   .linenums code {
       padding: 0 1em;
   }

   .linenums li:first-of-type code {
       padding-top: 1em;
   }

   code span.line {
       display: inline-block
   }
}