.subsections-title {
    font-weight: 900;
    text-transform: uppercase;
    background: var(--muted-bg);
    color: var(--muted-color);
    text-align:center;
    padding: 1em;
}

.subsection {
    padding-block: 30px;
    border-bottom: 1px solid var(--body-border);
    & > *:first-child {
        margin-top: 0;
    }

    li p{
        margin: 0;
    }

    li p + li p{
        margin-top: 1em;
    }
    
    .subsection-title {
        font-family: var(--monospace-family);
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 900;
    }
}